waiter/waiter.xcodeproj/project.xcworkspace/xcuserdata/new.xcuserdatad/UserInterfaceState.xcuserstate
waiter/waiter.xcodeproj/xcuserdata/new.xcuserdatad/xcschemes/waiter.xcscheme
waiter/waiter.xcodeproj/xcuserdata/new.xcuserdatad/xcschemes/xcschememanagement.plist
waiter/waiter/3rd/WXFrameworks